# output files
*.Rcheck
*.Rout

# Eclipse
.project
.settings

# History files
*.Rhistory
*.history

# Example code in package build process
*-Ex.R

*/reports/*

*.tar.gz
*.zip

.DS_Store
de.walware.r.core.prefs
