export(addTo)
export(addToInput)
export(addToIntroduction)
export(addToMeta)
export(addToMethods)
export(addToOverview)
export(addToReferences)
export(addToResults)
export(addToSummary)
export(asCode)
export(asEmph)
export(asFilename)
export(asLink)
export(asParameter)
export(asReference)
export(asStrong)
export(asSummary)
export(asValue)
export(DEFAULT.REPORT.FILENAME)
export(DEFAULT.SIGNIFICANT.ENTITY)
export(getContactInformationEmail)
export(getContactInformationLabel)
export(getContactInformationMessage)
export(getContactInformationSubject)
export(getCopyrightOwner)
export(getCopyrightStatement)
export(getCopyrightUrl)
export(getCopyrightYear)
export(getCreatorDate)
export(getCreatorName)
export(getCustomPrintCss)
export(getCustomScreenCss)
export(getExportedElement)
export(getExportedElementIds)
export(getFigureFile)
export(getFigureFileHighRes)
export(getGoogleAnalyticsId)
export(getLogo)
export(getMaintainerAffiliation)
export(getMaintainerEmail)
export(getMaintainerName)
export(getRendererDate)
export(getRendererName)
export(getReportId)
export(getReportTitle)
export(getSignificantEntity)
export(getSignificantResultsCount)
export(getSoftwareName)
export(getSoftwareVersion)
export(getSummary)
export(getTableFile)
export(HTML.FRAGMENT)
export(HTML.REPORT)
export(IMAGE.TYPE.PDF)
export(IMAGE.TYPE.RASTER)
export(IMAGE.TYPE.SVG)
export(isFigure)
export(isTable)
export(LOGO.BOTTOM.CENTER)
export(LOGO.BOTTOM.LEFT)
export(LOGO.BOTTOM.RIGHT)
export(LOGO.TOP.CENTER)
export(LOGO.TOP.LEFT)
export(LOGO.TOP.RIGHT)
export(newCitation)
export(newCustomReport)
export(newFigure)
export(newJournalCitation)
export(newList)
export(newParagraph)
export(newParameterList)
export(newReport)
export(newResult)
export(newSection)
export(newSubSection)
export(newSubSubSection)
export(newTable)
export(newWebCitation)
export(PROTECTION.GROUP)
export(PROTECTION.PRIVATE)
export(PROTECTION.PUBLIC)
export(PROTECTION.TCGA)
export(RDATA.REPORT)
export(SECTION.CLASS.META)
export(SECTION.CLASS.RESULTS)
export(setContactInformation)
export(setCopyright)
export(setCustomPrintCss)
export(setCustomScreenCss)
export(setFigureFile)
export(setFigureFileHighRes)
export(setGoogleAnalyticsId)
export(setLogo)
export(setMaintainerAffiliation)
export(setMaintainerEmail)
export(setMaintainerName)
export(setNextReport)
export(setParentReport)
export(setPreviousReport)
export(setReportTitle)
export(setSignificantEntity)
export(setSoftwareName)
export(setSoftwareVersion)
export(setTableFile)
export(TABLE.SIGNIFICANT.DIGITS)
export(writeReport)
